
@import "commom";

.operation-box{
  >button,select{
    margin: 0 0 0 20px;

  }
}
#playerLabels{
  ul{
    overflow: hidden;
    >li{
      float: left;
      list-style: none;
      margin-left: 15px;
      border: 1px solid #ccc;
      padding: 6px;
      &:first-of-type{
        color: #ffca47;
      }
    }
  }
}
@at-root #box{

  position: relative;
  width: 640px;
  height: 640px;
  margin: 0 auto;
  //border:1px solid #666;
  canvas{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
